<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Cloud Config demo</title>
    <link rel="stylesheet" type="text/css" href="/css/bulma.css"/>
</head>
<body>
<div class="columns">
    <div class="column is-half is-offset-one-quarter">
        <h1 class="title">Spring Cloud Config demo</h1>
    </div>
</div>
<div class="columns">
    <div class="column is-half is-offset-one-quarter">
        <table class="table is-bordered is-striped">
            <thead>
            <tr>
                <td>Key</td>
                <td>Value</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>message</td>
                <td th:text="${message}"></td>
            </tr>
            <tr>
                <td>jdbcUrl</td>
                <td th:text="${jdbcUrl}"></td>
            </tr>
            <tr>
                <td>jdbcUsername</td>
                <td th:text="${jdbcUsername}"></td>
            </tr>
            <tr>
                <td>jdbcPassword</td>
                <td th:text="${jdbcPassword}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
